
header{
    display: flex;
    justify-content:space-around ;
    height: 9vh;
    background-color: #ff7f99;
}

.logo{

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 3%;
}

.weHelp{
    color: antiquewhite;
    font-weight: bold;
    font-size: 3vh;
}
.You{
    color: #ffca41;
    font-weight: bold;
    font-size: 3vh;
}

.headerRight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    width: 10%;
    color: antiquewhite;
    font: size 30vh;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    margin-block-end: 5%;
    
}
.buttonlogin{
    border-color: #ffca41;
    width: 6vw;
    background-color: #ff7f99;
    color: antiquewhite;
    font-size: 2vh;
    border-radius: 20px;
    
}
